body {
    font-family: 'Lora';
}

#container {
    width: 1440px;
    height: auto;
    background-color: #fff;
}

/* section 1 */
.section__1 {
    width: 100%;
}

.section__1-title {
    font-family: 'Lora';
    color: #2C2A29;
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
    text-align: center;
}

.section__1-content {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 58px;
}

.section__1-content-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 810px;
}

.section__1-img {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.section__1-img-item-left,
.section__1-img-item-right {
    width: 379px;
    height: 618px;
    overflow: hidden;
    border-radius: 10px;
}

.section__1-img-item-left img {
    height: 100%;
}

.section__1-img-item-right img {
    height: 100%;
    object-fit: cover;
    object-position: -210px;
}

.section__1-text {
    font-family: 'Lora';
    color: #2C2A29;
    font-weight: 400;
    text-align: center;
    margin-top: 50px;
}

.section__1-text-item:first-child {
    margin-bottom: 30px;
}

/* section 2 */

.section__2 {
    width: 100%;
}

.section__2-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

.section__2-content-main {
    width: 1376px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

.section__2-content-item-img {
    width: 684px;
    height: 800px;
}

.section__2-content-item-img img {
    width: 100%;
    height: 100%;
}

.section__2-content-item {
    width: 684px;
    height: 800px;
    background: #F4F0EA;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: end;

}

.section__2-content-item-main {
    width: 587px;
    margin-bottom: 48px;
}

.section__2-content-item-title {
    color: #1f1f1f;
    font-family: 'Lora';
    font-weight: 400;
    font-size: 64px;
    line-height: 74px;
}

.section__2-content-item-caption {
    color: #1f1f1f;
    font-family: 'Lora';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.section__2-content-item-text {
    color: #1f1f1f;
    font-family: 'Lora';
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}